.default {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: flex-start;
  align-items: flex-start;
}

.right {
  justify-content: flex-end;
  align-items: flex-end;
}

.between {
  align-items: center;
  justify-content: space-between;
}

.no-space {
  gap: 0;
}

.xxs {
  gap: 3px;
}

.xs {
  gap: 5px;
}

.sm {
  gap: 8px;
}

.md {
  gap: 10px;
}

.lg {
  gap: 16px;
}

.xl {
  gap: 24px;
}

.xxl {
  gap: 28px;
}
