.default {
  display: flex;
}
.xs {
  gap: 4px;
}
.sm {
  gap: 8px;
}
.md {
  gap: 12px;
}
.lg {
  gap: 16px;
}
.xlg {
  gap: 36px;
}

.center {
  justify-content: center;
  align-items: center;
}

.between{
  justify-content: space-between;
}
.left{
  justify-content: start;
}

.right{
  justify-content: end;
}
