.itermTitle{
  padding-top: 24px;
  margin-bottom: 8px;
}
.itermTitle p{
  font-size: 14px;
  font-weight: bold;
}


.price{
  font-size: 32px;
  font-weight: bold;
  color: #B12704;
  margin-bottom: 24px;
}

.cartButton {
  margin-bottom: 40px;
}

