.itemTitle {
  padding-top: 24px;
  margin-bottom: 8px;
}
.itemTitle p {
  font-size: 20px;
  font-weight: bold;
}
.price {
  font-size: 32px;
  font-weight: bold;
  color: #b12704;
  margin-bottom: 24px;
}

.cartButton {
  margin-bottom: 40px;
}

.star {
  color: yellow;
}
