.detailsTable {
  width: 100%;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
  /* table-layout: fixed; */
}
.detailsTable img {
  max-width: auto;
}

.tableHead {
  width: 100%;
}
.detailsTable th,
.detailsTable td {
  font-size: 11px;
  text-align: center;
}
.tableHead th {
  font-size: 11px;
  background: #ececec;
  height: 27px;
}
.detailsTable th:first-child {
  border-radius: 6px 0 0 0;
}
.detailsTable th:last-child {
  border-radius: 0 6px 0 0;
}
.detailsTable {
  border-radius: 6px;
}

.detailsTable th:first-child,
.HistoryTable td:first-child {
  width: 64px;
}
