.footer {
  background: #ececec;
  max-width: 390px;
  margin: 0 auto;
  padding: 8px;
  padding: 40px 0 40px;
  position: static;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}
.footer p {
  text-align: center;
}
