.container_hitory {
  padding: 8px 0 8px 8px;
}
.sliderWrap {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.sliderList {
  gap: 16px;
  display: inline-flex;
}
.sliderList li {
  width: 100px;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.sliderItem {
  max-width: 100%;
  vertical-align: bottom;
  width: 136px;
  flex: 0 0 auto;
  margin-right: 10px;
}

.sliderItem a {
  display: block;
  width: 136px;
}
.sliderItem a img {
  display: block;
  width: auto;
  margin: 0 auto;
}
