:root {
  --primary-blk: #333333;
  --pure-white: #ffffff;
  --primary-blue: #007fff;
}

.flex {
  display: flex;
}
.container {
  max-width: 390px;
  margin: 0 auto;
}

.container_inner {
  padding: 8px;
}

.pageTtl {
  font-size: 100px;
}
