*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
table {
  border-collapse: collapse;
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: 16px;
}

textarea {
  resize: none;
  border-radius: 0;
}
th,
td {
  border-collapse: collapse;
}
table th,
table td {
  white-space: nowrap;
}
ul,
ol {
  list-style-type: none;
}
img {
  box-sizing: border-box;
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

/* inputのフォーカス */
input:focus {
  outline: solid 1px transparent;
}
textarea:focus {
  outline: 1px solid transparent;
}
select:focus {
  outline: 1px solid transparent;
}
input,
textarea,
select {
  color: var(--txt-primary);
}
input::placeholder,
textarea::placeholder {
  color: var(--txt-tertiary);
}
/* ラジオボタン */
input[type='radio'] {
  display: none;
}
/* チェックボックス */
input[type='checkbox'] {
  display: none;
}